<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}Топ фильмов{% endblock %}</title>
</head>
<body>
{% include 'inc/_nav.html' %}

<div class="container mt-3">
    <div class="row">
        {% block content %}CONTENT{% endblock %}
    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>