{% extends 'base.html' %}

{% block title %}Восстановление пароля :: TC{% endblock %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x">
        <div class="card p-3" style="width: 30rem; background-color: #c8e5fa;">

            <h3>Введите новый пароль</h3>
            <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>

            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}
                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}


                <button type="submit" class="btn btn-primary btn-block">Изменить мой пароль</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}